html{
  background-color: #F0FEF0;
  /*background-image (below) didn't properly scale when zoomed out*/
}
.navigationStyle {
  display: flex;
  width: 100%;
  height: 3.25rem;
  padding: 0rem 4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  background-image: url("../images/backround-img.png");
  background-size: contain;
  background-position: center;
  width: 100%;
}


.innerContainerStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.clickableComponentsStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.imageStyle {
  height: 30px;
  width: 220px;
}

.home {
  padding: 0.3rem 0.7rem;
  transition: background-color 0.4s ease-in-out;
  padding: 0.3rem 1rem;
  border-radius: 7px;
}

.home-fill-survey {
  padding: 0.3rem 0.7rem;
  transition: background-color 0.4s ease-in-out;
  padding: 0.3rem 1rem;
  border-radius: 7px;
  white-space: nowrap;
}

/* Media query, responsive design styles for mobile devices */
/* Styles targeting the Nav bar 'Fill out Survey' button and 'navigationStyle' */
@media(max-width: 600px)
{
  .home-fill-survey 
  {
    font-size: 16px;
  }

  .navigationStyle 
  {
    border-bottom: none;
    height: 2.25rem;

  }

  .clickableComponentsStyle 
  {
    background-image: url("../images/backround-img.png");
    border-bottom: 1px solid black;
    
  }

}


.home:hover .home-fill-survey:hover {
  background-color: #68986f;
}

.sign {
  background-color: #68986f;
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}

