.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

/* Media query, responsive design styles for mobile devices */
/* Styles targeting very narrow devices with 492px display */
@media (min-width: 492px)
{
  .container 
  {
    height: auto;
    margin-top: 20px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 100%
  }

  .searchBar
  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}


/* Media query, responsive design styles for mobile devices */
/* Styles targeting devices with 600px display */
@media (max-width: 601px)
{
  .container 
  {
    height: 25vh;
  }
}

.container H1 {
  color: white;
  font-size: 3rem;
  margin-left: 4rem;
  margin-bottom: 0;
}

.container P {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  
}

.locationInput {
  width: 23rem;
  padding: 10px;
  border: none;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 1.6px;
  cursor: pointer;
  background-image: url("../images/location-icon.jpg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 25px;
  background-position: right center;
  background-position-x: 8px;
  background-color: #68986f40;
  color: #111611;
}

.searchInput {
  width: 35rem;
  padding: 10px;
  border: none;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  margin-left: 1px;
  cursor: pointer;
  background-image: url("../images/search-icon.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  padding-left: 28px;
  background-position: left center;
  background-position-x: 8px;
  background-color: #68986f40;
  color: #111611;
}

.searchIcon
{
  width: 6rem;
  height: 6rem;
}

input::placeholder {
  padding-left: 18px;
  color: #000;
}

.searchInput:focus,
.locationInput:focus {
  border: 2px solid #80b287;
  outline: none;
}
