body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0fef0; /* Using color from colors.js */
}

/* Centering the SignUp form on the page */
.signUpForm-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* SignUp form styling */
.signUpForm {
  width: 100%;
  max-width: 320px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Logo styles */
.logo {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* Heading styles */
.heading {
  font-size: 24px;
  color: #68986f;
  margin-bottom: 10px;
}

/* Label styles */
.label {
  font-size: 14px;
  color: #111611;
  margin-bottom: 8px;
  text-align: left;
  display: block;
}

/* Input field styles */
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #68986f;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Button styles */
.button {
  background-color: #68986f;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.button:hover {
  background-color: #80b287;
}

/* Google Sign Up button styles */
.googleSignUp {
  background-color: white;
  color: #111611;
  padding: 10px 0;
  border: 1px solid #68986f;
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
}

.googleSignUp:hover {
  background-color: #f0fef0;
}

/* Text and link styles */
.text {
  font-size: 14px;
  color: #111611;
  margin-top: 20px;
}

.link {
  color: #68986f;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Error message styles */
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.homeButton {
  background-color: #fff;
  color: #68986f;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #68986f;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
}

.homeButton:hover {
  background-color: #68986f;
  color: #fff;
}
