.survey-container {
    padding: 20px;
  }
  
  .survey-item {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .survey-title {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .survey-description {
    font-size: 1.2em;
  }
  
  .view-details-button {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  /* SurveyDetail Styles */
  .survey-detail-container {
    padding: 20px;
    border: 1px solid #ddd;
  }
  
  .survey-detail-container h1 {
    font-size: 2em;
  }
  
  .survey-detail-container p {
    font-size: 1.2em;
  }
  
  .survey-detail-container ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .survey-detail-container li {
    margin-bottom: 5px;
  }
  